*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
}

li{
    list-style: none;
    color:white;
}

h1{
    color: white;
}

.side-bar{
    position: fixed;
    background: #47143a;
    width: 20vw;
    min-height: 100vw;
    display: flex;
    flex-direction: column;
}

.side-bar .logo-name{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-bar li{
    font-size: 24px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
}

.side-bar li:hover{
    background: white;
    color: #47143a;
}

.container{
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vw;
    background: white;
}

.container .header{
    position: center;
    top: 0;
    right: 50px;
    width: 25vw;
    height: 50vh;
    background: purple;
    display: center;
    align-items: flex;
    justify-content: center;
    box-shadow: 0 4px 8px rgb( 0, 0, 0, 0.2);
}

.container .header .nav{
    width: 90%;
    display: flex;
    align-items: center;
}

.container .header .nav .search{
    flex: 3;
    background: #47143a;
}


.container .header .nav .button{
    width: 40px;
    height: 40px;
    border: none;
}

.container .header .nav .user{
    flex: 1;
    background: blueviolet;
}

